:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
image {
  object-fit: cover;

  width: 100%;
  height: auto;
}

a {
  font-weight: 500;
  color: #424691;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  border: 1px solid #424691;
  border-radius: 8px;
  padding: 6px 10px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: lightslategray;
  color: rgb(30, 30, 31);
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  width: fit-content;
  background-color: #535bf2;
  &:hover {
    background-color: #363fed;
    color: whitesmoke;
  }
}
.log-box {
  position: absolute;
  right: 40%;
  bottom: 45%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: center;
  border: 1px solid darkgrey;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px rgb(62, 95, 128);
  padding: 12px;
}
label {
  display: flex;
  flex-direction: column;
}

input {
  padding: 6px 10px;
  border-radius: 8px;
  border: transparent;
}

.phonebook-box {
  margin: 24px;
  border-radius: 16px;
  border: 1px solid black;
  box-shadow: 0px 0px 8px 8px white;
  padding: 0 32px 16px 32px;
}
.phonebook-title {
  margin: 0;
  padding: 10px;
}
.icon {
  margin-left: 24px;
}

.homepage-box {
  background-image: url("./assets/images/phonebook.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.title {
  text-align: center;
  text-shadow: 3px 1px 2px white;
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typing 3s steps(20, end), blink 0.5s step-end infinite alternate;
}
.homepage-text-box {
  display: flex;
  justify-content: space-between;
  margin: 12px 40px;
}
.text-wrap {
  max-width: 200px;
  box-shadow: 0 0 4px 4px whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 4px;
}

.homepage-text {
  color: rgb(27, 26, 26);
  transition: all 0.5s;
  &:hover {
    color: whitesmoke;
    border: none;
  }
}
